PORT=8081
DB_CONNECTION_STRING=host=altklausur_ausleihe-db port=5432 user=altklausur_ausleihe dbname=altklausur_ausleihe password=randomtest1 sslmode=disable
MINIO_SERVER=altklausur_ausleihe-storage
MINIO_PORT=9000
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=somepasswd
MINIO_BUCKET_NAME=marker_cache
# DEPLOYMENT_ENV=production
DEPLOYMENT_ENV=testing
