PORT=8081
DB_CONNECTION_STRING=host=altklausur_ausleihe-db port=5432 user=altklausur_ausleihe dbname=altklausur_ausleihe password=randomtest1 sslmode=disable
# DEPLOYMENT_ENV=production
DEPLOYMENT_ENV=testing
