PORT=8081
DB_HOST=altklausur_ausleihe-db
MINIO_PORT=9000
MINIO_SERVER=altklausur_ausleihe-storage
MINIO_EXAM_BUCKET=altklausuren
MINIO_CACHE_BUCKET=marker-cache
# DEPLOYMENT_ENV=production
DEPLOYMENT_ENV=testing
LTI_SECRET_KEY=test
JWT_SECRET_KEY=test
