MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=somepasswd
MINIO_SERVER=altklausur_ausleihe-storage
# MINIO_SERVER_SSL=false
MINIO_PORT=9000
MINIO_EXAM_BUCKET=altklausuren
MINIO_CACHE_BUCKET=marker-cache
# has to be configured throgh the web ui
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=somepasswd
